.nav-item .nav-link {
    display: flex !important;
    /* Gunakan Flexbox */
    align-items: center !important;
    /* Vertikal sejajar */
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding: 10px 15px !important;
    /* Spasi nyaman */
    transition: opacity 0.3s ease-in-out !important;
    color: #0B1215 !important;
    text-decoration: none !important;
    /* Hilangkan underline */
}

.nav .nav-link:hover {
    background-color: #dddddd !important;
    /* Tambahkan hover efek */
    color: #0B1215 !important;
    /* Ubah warna teks saat hover */
    border-radius: 8px;
}

.background-image .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Warna gelap dengan transparansi */
    z-index: 1; /* Membuat overlay di atas background image */
}

.position-absolute.text-center {
    z-index: 2; /* Membuat elemen teks dan gambar di atas overlay */
}
